*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.conteiner{
    width: 100%;
    height: 100vh;
    animation: rasm 6s linear infinite;
}
.conteiner .box{
    width: 710px;
    height: 250px;
    border: 1px solid black;
    background-color: transparent;
    position: relative;
    top: 100px;
    left: 430px;
    border-radius: 100px;
    box-shadow: 5px 5px 8px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;

}
.conteiner .box .circle{
    width: 200px;
    height: 220px;
    border: 1px solid transparent;
    border-radius:100px ;
    position: relative;

}
.conteiner .box .circle .red{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius:100px ;
    animation: redanim 6s linear infinite;
    border: 2px dashed rgb(82, 0, 0);
    
}
.conteiner .box .circle .yellow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius:100px ;
    animation: yellowanim 6s linear infinite;
    animation-duration: 6s;
    border: 2px dashed rgb(82, 82, 0);
}
.conteiner .box .circle .green{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius:100px ;
    animation: greenanim 6s linear infinite;
    animation-duration: 6s;
    border: 2px dashed rgb(0, 62, 0);
   
}
/*  */
.conteiner .item{
    width: 760px;
    height: 300px;
    border: 1px solid transparent;
    position: relative;
    top: 190px;
    left: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   
}
.conteiner .item .img{
    width: 100%;
    height: 100%;
    position: absolute;
   
}
.conteiner .item .img:nth-child(1){
    clip-path: polygon(34% 0, 34% 50%, 34% 100%, 25% 100%, 0% 50%, 25% 0);
   
    animation: animred 6s linear infinite;
    position: absolute;
}
.conteiner .item .img:nth-child(2){
    clip-path: polygon(34% 0, 67% 0%, 67% 100%, 34% 100%);
    animation: animyellow 6s linear infinite;
    animation-duration: 6s;
}
.conteiner .item .img:nth-child(3){
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 67% 100%, 67% 55%, 67% 0);
    
    animation: animgreen 6s linear infinite;
    animation-duration: 6s;
} 
/*  */
.conteiner .emaje{
    width:200px ;
    height: 200px;
    border: 1px solid transparent;
    position: absolute;
    left: 200px;
    bottom: 60px;
    animation: emaje1 6s linear infinite;
    box-shadow: 5px 5px 8px 8px;
    
}
.conteiner .emoje2{
    width:200px ;
    height: 200px;
    border: 1px solid transparent;
    position: absolute;
    left: 1160px;
    bottom: 60px;
    animation: bek 6s linear infinite;
    box-shadow: 5px 5px 8px 8px;
}